body {
    background-image: url('../img/background.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin: 0;
    padding-top: 5%;
    margin-bottom: 5%;
    font-family: 'Arial', sans-serif;
}

.container {
    margin-top: 10%;
}

.card {
    border-radius: 15px;
    border: none;
}

.card-header {
    font-size: 1.5rem;
    font-weight: bold;
    border-bottom: none;
    border-radius: 15px 15px 0 0;
}

.card-body {
    padding: 2rem;
    background-color: #ffffff;
    border-radius: 0 0 15px 15px;
}

label {
    font-size: 1.1rem;
    font-weight: 600;
}

input[type="password"],
input[type="text"] {
    padding: 0.75rem 1rem;
    margin-bottom: 1rem;
    border: 2px solid #4985f5;
    border-radius: 10px;
    width: 100%;
    font-size: 1rem;
}

input[type="password"]:focus,
input[type="text"]:focus {
    outline: none;
    border-color: #0d6efd;
    box-shadow: 0 0 5px rgba(13, 110, 253, 0.5);
}

button[type="submit"] {
    background-color: #0d6efd;
    color: #ffffff;
    padding: 0.75rem 1rem;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

a {
    color: #0d6efd;
    text-decoration: none;
    font-size: 0.9rem;
}

a:hover {
    text-decoration: underline;
}

/* Adjustments for small screens */
@media (max-width: 768px) {
    .container {
        margin-top: 20%;
    }

    .card-header {
        font-size: 1.2rem;
    }

    label {
        font-size: 1rem;
    }

    input[type="password"],
    input[type="text"] {
        font-size: 0.9rem;
    }

    button[type="submit"] {
        font-size: 0.9rem;
    }

    a {
        font-size: 0.8rem;
    }
}
